In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv('data2.csv')

In [3]:
df.head()

,ACT composite score,SAT total score,parental level of education,parental income,high school gpa,college gpa,years to graduate
0,22,1625,high school,40999,3.0,3.1,7
1,29,2090,associate's degree,75817,4.0,3.4,5
2,30,2188,bachelor's degree,82888,4.0,3.9,3
3,33,2151,associate's degree,93518,4.0,3.7,5
4,29,2050,associate's degree,79153,4.0,3.4,6

In [4]:
df['parental level of education'] = df['parental level of education'].map({'some high school': 0, 'high school': 1, 'some college': 2, "associate's degree": 3, "bachelor's degree": 4, "master's degree": 5})
df.head()

,ACT composite score,SAT total score,parental level of education,parental income,high school gpa,college gpa,years to graduate
0,22,1625,1,40999,3.0,3.1,7
1,29,2090,3,75817,4.0,3.4,5
2,30,2188,4,82888,4.0,3.9,3
3,33,2151,3,93518,4.0,3.7,5
4,29,2050,3,79153,4.0,3.4,6

In [5]:
df.describe()

,ACT composite score,SAT total score,parental level of education,parental income,high school gpa,college gpa,years to graduate
count,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000
mean,28.607000,1999.906000,2.10000,67377.85200,3.707400,3.376500,4.982000
std,2.774211,145.078361,1.52326,18827.33105,0.287381,0.237179,1.414099
min,20.000000,1598.000000,0.00000,18906.00000,2.800000,2.600000,3.000000
25%,27.000000,1898.000000,1.00000,54269.75000,3.500000,3.200000,4.000000
50%,28.500000,2000.000000,2.00000,67842.50000,3.800000,3.400000,5.000000
75%,31.000000,2099.000000,3.00000,80465.50000,4.000000,3.500000,6.000000
max,36.000000,2385.000000,5.00000,124470.00000,4.000000,4.000000,10.000000

In [6]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [7]:
decision_tree = DecisionTreeRegressor()
kneighbors = KNeighborsRegressor()

In [8]:
data_x = df.drop(['years to graduate', 'parental level of education', 'parental income'], axis=1)
data_y = df['years to graduate']

In [9]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [10]:
decision_tree.fit(train_x, train_y)

DecisionTreeRegressor()

In [11]:
print(f'Score Linear reg: {round(decision_tree.score(test_x, test_y), 10) * 100}%')

Score Linear reg: -87.55186722%