In [1]:
from sklearn import preprocessing
import pandas as pd

In [2]:
df = pd.read_csv("performance.csv")

In [3]:
df.head()

,Name,GamesPlayed,MinutesPlayed,PointsPerGame,FieldGoalsMade,FieldGoalsAttempt,FieldGoalPercent,3PointMade,3PointAttempt,3PointPercent,...,FreeThrowAttempt,FreeThrowPercent,OffensiveRebounds,DefensiveRebounds,Rebounds,Assists,Steals,Blocks,Turnovers,Target
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,...,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0
3,Malik Sealy,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,...,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1
4,Matt Geiger,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,...,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1

## Label Encoder
Permite convertir los valores de tipo object a valores numéricos

In [4]:
len(df.Name)

1340

In [5]:
# Primer paso: Instanciar el Encoder
encoder = preprocessing.LabelEncoder()

In [6]:
# 2do paso: Entrenar el encoder
encoder.fit(df.Name)

LabelEncoder()

In [7]:
# Paso opcional
encoder.classes_

array(['A.C. Green', 'A.J. English', 'A.J. Price', ..., 'Xavier McDaniel',
       'Zach LaVine', 'Zach Randolph'], dtype=object)

In [8]:
# 3er paso: Transformar a valores numéricos
df.Name = encoder.transform(df.Name)

In [16]:
df.head()

,Name,GamesPlayed,MinutesPlayed,PointsPerGame,FieldGoalsMade,FieldGoalsAttempt,FieldGoalPercent,3PointMade,3PointAttempt,3PointPercent,...,FreeThrowAttempt,FreeThrowPercent,OffensiveRebounds,DefensiveRebounds,Rebounds,Assists,Steals,Blocks,Turnovers,Target
0,128,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0
1,45,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0
2,521,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,...,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0
3,820,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,...,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1
4,871,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,...,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1

In [12]:
# Retorna los valores numéricos a las clases (obj)
inverse = encoder.inverse_transform(df.Name)

In [13]:
inverse

array(['Brandon Ingram', 'Andrew Harrison', 'JaKarr Sampson', ...,
       'Marlon Maxey', 'Litterial Green', 'Jon Barry'], dtype=object)

In [14]:
# Entrena y transforma las clases a valores numéricos
fit_transformed = encoder.fit_transform(inverse)

In [15]:
fit_transformed

array([128,  45, 521, ..., 855, 795, 644])

## Proceso de estandarización -  StandarScaler
Este algoritmo sigue la fórmula de la distribución estándar  Z = (x  - m) / sd

In [17]:
# 1er. paso: Inicializar el scaler
scaler = preprocessing.StandardScaler()

In [19]:
# 2do. paso: Entrenar el Scaler
scaler.fit(df.GamesPlayed.to_numpy().reshape(-1, 1))

StandardScaler()

In [20]:
# Paso Opcional: Conocer la media (o medias)
scaler.mean_

array([60.4141791])

In [21]:
scaler.scale_

array([17.42748581])

In [23]:
# 3er. paso: Transfomar los valores originales a la nueva escala
standardized = scaler.transform(df.GamesPlayed.to_numpy().reshape(-1, 1))

In [24]:
standardized

array([[-1.40090082],
       [-1.45828144],
       [ 0.77956287],
       ...,
       [-0.99923645],
       [-0.48281084],
       [-0.76971396]])

In [31]:
multiple_scaler = preprocessing.StandardScaler()
dummy_test = multiple_scaler.fit_transform([df.GamesPlayed, df.FieldGoalsMade])

In [32]:
dummy_test[0]

array([1., 1., 1., ..., 1., 1., 1.])

## Proceso de Estandarización - MinMaxScaler
Se basa en encontrar el valor de X standard bajo la siguiente fórmula

 x_std = ((x - x_min(axis=0)) / x.max(axis=0) - x.min(axis=0))
 
 x_scales = x_std * (max - min) + min

In [33]:
# 1er paso: Inicialización del Scaler
min_max = preprocessing.MinMaxScaler()

In [35]:
# 2do. paso: Entrenamos el Scaler
min_max.fit(df.GamesPlayed.to_numpy().reshape(-1, 1))

MinMaxScaler()

In [39]:
# Paso Opcional: Revisar los valores mínimos y máximos
min_max.min_

array([-0.15492958])

In [40]:
# 3er.Paso: Se transforma los valores a la nueva escala
minimized = min_max.transform(df.GamesPlayed.to_numpy().reshape(-1, 1))

In [41]:
minimized

array([[0.35211268],
       [0.33802817],
       [0.88732394],
       ...,
       [0.45070423],
       [0.57746479],
       [0.50704225]])

## Proceso de Estandarización - MaxAbsScaler