In [15]:
# Importando lo necesario de dependencias
from sklearn.model_selection import train_test_split
from sklearn import linear_model

import pandas as pd
import numpy as np
import matplotlib as plt

In [47]:
# Importando csv y leyendo como DataFrame
df = pd.read_csv('car data.csv')

In [48]:
df.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [58]:
df.Transmission.unique()
df.Seller_Type.unique()
df.Fuel_Type.unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [59]:
df.Fuel_Type = df['Fuel_Type'].map({'Petrol': 0, 'Diesel': 1, 'CNG': 2})
df.Seller_Type = df['Seller_Type'].map({'Dealer': 0, 'Individual': 1})
df.Transmission = df['Transmission'].map({'Manual': 0, 'Automatic': 1})

In [60]:
df.describe()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,2013.627907,4.661296,7.628472,36947.205980,0.212625,0.352159,0.132890,0.043189
std,2.891554,5.082812,8.644115,38886.883882,0.425801,0.478439,0.340021,0.247915
min,2003.000000,0.100000,0.320000,500.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,0.900000,1.200000,15000.000000,0.000000,0.000000,0.000000,0.000000
50%,2014.000000,3.600000,6.400000,32000.000000,0.000000,0.000000,0.000000,0.000000
75%,2016.000000,6.000000,9.900000,48767.000000,0.000000,1.000000,0.000000,0.000000
max,2018.000000,35.000000,92.600000,500000.000000,2.000000,1.000000,1.000000,3.000000

In [62]:
df.drop('Car_Name', axis='columns', inplace=True)

In [63]:
corr = df.corr()
corr.style.background_gradient()

In [64]:
# Inicializo el modelo
linear = linear_model.LinearRegression()

In [70]:
# Preparo la data
data_x = df.drop(['Selling_Price', 'Seller_Type', 'Owner'], axis=1)
data_y = df.Selling_Price

In [71]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [72]:
# Entrenando el modelo
linear.fit(train_x, train_y)

LinearRegression()

In [73]:
# Calculando ecuación de la recta
print(f'y = {round( linear.coef_[0], 2)}x + {round(linear.intercept_,2)}')

y = 0.42x + -841.1

In [74]:
# Viendo la calificación
print(f'Score: {round(linear.score(test_x, test_y), 4) * 100}%')

Score: 84.00999999999999%

In [76]:
data_x

     Year  Present_Price  Kms_Driven  Fuel_Type  Transmission
0    2014           5.59       27000          0             0
1    2013           9.54       43000          1             0
2    2017           9.85        6900          0             0
3    2011           4.15        5200          0             0
4    2014           6.87       42450          1             0
..    ...            ...         ...        ...           ...
296  2016          11.60       33988          1             0
297  2015           5.90       60000          0             0
298  2009          11.00       87934          0             0
299  2017          12.50        9000          1             0
300  2016           5.90        5464          0             0

[301 rows x 5 columns]

In [88]:
# Vamos a predecir
year = 2008
present_price = 9.80
km_driven = 5100
fuel_type = 1
transmission_type = 0
predicted = linear.predict([[year, present_price, km_driven, fuel_type, transmission_type]])
labels_t = {0: 'Manual', 1: 'Automatico'}
labels_f = {0: 'Petrol', 1: 'Diesel', 2: 'CNG'}

c:\Users\Julian\Desktop\Algoritmica Avanzada\pandas_practice\linear_regresion\linear_regresion\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [91]:
print(f'El auto del año {year}, con {km_driven} km de recorrido, de caja {labels_t[transmission_type]} y que usa {labels_f[fuel_type]} costaría {round(predicted[0],2)} Dolares aproximadamente.')

El auto del año 2008, con 5100 km de recorrido, de caja Manual y que usa Diesel costaría 4.58 Dolares aproximadamente.