In [26]:
from sklearn import tree
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np
import seaborn as sb

In [27]:
# Cargar el dataset
df = pd.read_csv('dataset.csv')

In [28]:
# Eliminar columnas que no son necesarias
df.drop(['Marital status', 'Mother\'s qualification', 'Father\'s qualification', 'Mother\'s occupation',
         'Father\'s occupation', 'Displaced', 'Debtor', 'Age at enrollment', 'International', 'Unemployment rate'],
        axis=1)

,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Educational special needs,Tuition fees up to date,Gender,Scholarship holder,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Inflation rate,GDP,Target
0,8,5,2,1,1,1,0,1,1,0,...,0,0,0,0,0,0.000000,0,1.4,1.74,Dropout
1,6,1,11,1,1,1,0,0,1,0,...,0,0,6,6,6,13.666667,0,-0.3,0.79,Graduate
2,1,5,5,1,1,1,0,0,1,0,...,0,0,6,0,0,0.000000,0,1.4,1.74,Dropout
3,8,2,15,1,1,1,0,1,0,0,...,0,0,6,10,5,12.400000,0,-0.8,-3.12,Graduate
4,12,1,3,0,1,1,0,1,0,0,...,0,0,6,6,6,13.000000,0,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7437,1,1,5,1,1,1,0,1,1,1,...,0,1,6,9,5,12.500000,0,1.4,1.74,Graduate
7438,15,1,8,1,14,1,0,1,1,0,...,0,0,6,11,3,13.333333,0,-0.3,0.79,Dropout
7439,14,1,5,1,1,1,0,1,1,1,...,0,2,6,7,5,12.200000,0,-0.3,0.79,Enrolled
7440,14,1,1,1,1,1,0,1,1,0,...,0,2,8,10,2,13.000000,0,0.5,1.79,Enrolled
7441,1,1,8,1,1,1,0,1,0,0,...,1,0,5,8,5,11.600000,0,-0.8,-3.12,Graduate

In [29]:
# Mapear los valores de la columna
df['Target'] = df['Target'].map({'Drop Out': 0, 'Graduate': 1, 'Enrolled': 2})

In [30]:
# Inicializar el modelo con decission tree
decission_tree = tree.DecisionTreeClassifier()

In [31]:
# Preparar la data para entrenar el modelo
data_x = df.drop(['Marital status', 'Mother\'s qualification', 'Father\'s qualification', 'Mother\'s occupation',
                  'Father\'s occupation', 'Displaced', 'Debtor', 'Age at enrollment', 'International',
                  'Unemployment rate', 'Curricular units 2nd sem (credited)'], axis='columns')
data_y = df['Curricular units 2nd sem (credited)']

In [32]:
# Eliminar las filas con valores NaN
data_x = data_x.dropna()
data_y = data_y.dropna()

In [33]:
# Asegurarse de que las variables tengan el mismo número de muestras
if len(data_x) != len(data_y):
    # Realizar las modificaciones necesarias en data_x y data_y para que coincidan
    # Por ejemplo, puedes eliminar las muestras adicionales de data_y
    data_y = data_y[:len(data_x)]

In [34]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [35]:
# Entrenar el modelo
decission_tree.fit(train_x, train_y)

DecisionTreeClassifier()

In [36]:
# Medir la confianza de nuestro modelo
print(f'Score: {round(decission_tree.score(test_x, test_y), 4) * 100}%')

Score: 80.84%