https://www.kaggle.com/datasets/tedogogoladze/open-university-analytics-datasets-unzipped?search=university&fileType=csv&sizeStart=700%2CKB&select=studentInfo.csv

In [148]:
from sklearn import neighbors
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [149]:
df = pd.read_csv('studentInfo.csv')

In [150]:
df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [151]:
#df['region'].unique()
#df['gender'].unique()
#df['highest_education'].unique()
#df['code_presentation'].unique()
#df['age_band'].unique()
#df['disability'].unique()
#df['highest_education'].unique()
df['final_result'].unique()

array(['Pass', 'Withdrawn', 'Fail', 'Distinction'], dtype=object)

In [152]:
df['final_result'] = df['final_result'].map({'Pass':0, 'Withdrawn':1, 'Fail':2, 'Distinction':3})
df['highest_education'] = df['highest_education'].map({'HE Qualification':0, 'A Level or Equivalent':1, 'Lower Than A Level':2,'Post Graduate Qualification':3, 'No Formal quals':4})
df['gender'] = df['gender'].map({'M':0, 'F':1})
df['age_band'] = df['age_band'].map({'55<=':0, '35-55':1, '0-35':2})
df['disability'] = df['disability'].map({'N':0, 'Y':1})

In [153]:
df.describe()

,id_student,gender,highest_education,age_band,num_of_prev_attempts,studied_credits,disability,final_result
count,3.259300e+04,32593.000000,32593.000000,32593.000000,32593.000000,32593.000000,32593.000000,32593.000000
mean,7.066877e+05,0.451569,1.309729,1.697328,0.163225,79.758691,0.097076,1.022674
std,5.491673e+05,0.497657,0.766255,0.473628,0.479758,41.071900,0.296066,0.982984
min,3.733000e+03,0.000000,0.000000,0.000000,0.000000,30.000000,0.000000,0.000000
25%,5.085730e+05,0.000000,1.000000,1.000000,0.000000,60.000000,0.000000,0.000000
50%,5.903100e+05,0.000000,1.000000,2.000000,0.000000,60.000000,0.000000,1.000000
75%,6.444530e+05,1.000000,2.000000,2.000000,0.000000,120.000000,0.000000,2.000000
max,2.716795e+06,1.000000,4.000000,2.000000,6.000000,655.000000,1.000000,3.000000

In [154]:
# Inicializar el modelo 
k_neighbors = neighbors.KNeighborsClassifier(n_neighbors=11)

In [155]:
df = df.drop(['region','code_module','code_presentation','id_student','imd_band','studied_credits'], axis=1)

In [156]:
df.describe()

,gender,highest_education,age_band,num_of_prev_attempts,disability,final_result
count,32593.000000,32593.000000,32593.000000,32593.000000,32593.000000,32593.000000
mean,0.451569,1.309729,1.697328,0.163225,0.097076,1.022674
std,0.497657,0.766255,0.473628,0.479758,0.296066,0.982984
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,2.000000,0.000000,0.000000,1.000000
75%,1.000000,2.000000,2.000000,0.000000,0.000000,2.000000
max,1.000000,4.000000,2.000000,6.000000,1.000000,3.000000

In [157]:
data_x = df.drop('num_of_prev_attempts', axis=1)
data_y = df['num_of_prev_attempts']

In [158]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, train_size=0.1)

In [159]:
k_neighbors.fit(train_x, train_y)

KNeighborsClassifier(n_neighbors=11)

In [160]:
print(f'Score: {round(k_neighbors.score(test_x, test_y), 4) * 100}%')

Score: 87.33999999999999%

In [161]:
highest_education_labels={0:'HE Qualification', 1:'A Level or Equivalent', 2:'Lower Than A Level',3:'Post Graduate Qualification', 4:'No Formal quals'}
gender_labels={1: 'Femenino', 0: 'Masculino'}
age_band_labels={0:'55<=', 1:'35-55', 2:'0-35'}
disability_labels={0:'Sin', 1:'Con'}
final_result_labels={0:'Pass', 1:'Withdrawn', 2:'Fail', 3:'Distinction'}

gender=1
highest_education=1
age_band=1
disability=0
final_result=3

In [162]:
predicted = k_neighbors.predict([[gender, highest_education, age_band, disability,final_result]])
print(f'Un estudiante de genero {gender_labels[gender]}, de educacion maxima {highest_education_labels[highest_education]}, rango de edad {age_band_labels[age_band]}, {disability_labels[disability]} discapacidad y un resultado final de {final_result_labels[final_result]} tuvo intentos anteriores = {predicted[0]}')

Un estudiante de genero Femenino, de educacion maxima A Level or Equivalent, rango de edad 35-55, Sin discapacidad y un resultado final de Distinction tuvo intentos anteriores = 0

d:\Practico 3 Algoritmica\practico3_env\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(