In [26]:
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('goals.csv')

In [29]:
x, y = make_blobs(n_samples=400, random_state=0)

In [31]:
df = pd.DataFrame(x)

In [34]:
df.describe()

,serial,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,55.016393,2.021858,0.972678,0.693989,0.327869,0.021858,1.814208,0.207650,0.196721,6.841530
std,24.173929,2.005367,1.400281,1.140810,0.612722,0.146621,1.923943,0.514137,0.549315,2.568196
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,43.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.000000
50%,73.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6.000000
75%,73.000000,2.000000,1.000000,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,8.000000
max,73.000000,15.000000,11.000000,8.000000,3.000000,1.000000,13.000000,3.000000,3.000000,13.000000

In [35]:
df.head()

,serial,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
1,2,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
2,3,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
3,4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
4,5,Nkunku,Leipzig,Midfielder,7,3,1,3,0,7,0,0,6

In [36]:
df.drop('serial', axis=1, inplace=True)
df.drop('player_name', axis=1, inplace=True)
df.drop('club', axis=1, inplace=True)
df.drop('position', axis=1, inplace=True)

In [37]:
k_means_model = KMeans()

In [38]:
k_means_model.fit(df)

c:\Users\EdgarRojas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans()

In [39]:
# Veamos como funcional el atributo labels
k_means_model.labels_

array([2, 2, 2, 5, 6, 5, 6, 6, 6, 5, 5, 6, 5, 5, 7, 6, 6, 6, 4, 4, 7, 7,
       0, 0, 0, 0, 0, 4, 4, 0, 0, 7, 0, 0, 7, 7, 7, 7, 7, 7, 7, 1, 0, 0,
       0, 0, 0, 0, 3, 3, 1, 4, 7, 0, 0, 0, 4, 4, 0, 0, 0, 7, 7, 1, 1, 3,
       3, 3, 1, 3, 3, 3, 3, 3, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 3, 3, 3, 1, 1, 3, 3, 1,
       4, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 3,
       3, 3, 3, 1, 1, 1, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 3])

In [40]:
k_means_model.cluster_centers_

array([[ 2.42857143e+00,  1.76190476e+00,  3.80952381e-01,
         2.38095238e-01, -1.04083409e-17,  2.33333333e+00,
         9.52380952e-02,  3.80952381e-01,  6.23809524e+00],
       [ 1.12765957e+00,  3.61702128e-01,  5.10638298e-01,
         2.55319149e-01, -1.38777878e-17,  1.02127660e+00,
         1.06382979e-01,  4.25531915e-02,  3.91489362e+00],
       [ 1.30000000e+01,  7.33333333e+00,  2.66666667e+00,
         2.33333333e+00,  6.66666667e-01,  1.23333333e+01,
         6.66666667e-01,  2.33333333e+00,  1.00000000e+01],
       [ 1.11764706e+00,  5.73529412e-01,  2.50000000e-01,
         2.64705882e-01,  2.94117647e-02,  9.70588235e-01,
         1.47058824e-01,  8.82352941e-02,  7.05882353e+00],
       [ 1.81250000e+00,  1.06250000e+00,  4.37500000e-01,
         3.12500000e-01, -6.93889390e-18,  1.43750000e+00,
         3.75000000e-01, -5.55111512e-17,  1.15625000e+01],
       [ 6.16666667e+00,  1.50000000e+00,  4.16666667e+00,
         5.00000000e-01,  0.00000000e+00,  5.50000000e+00,
         6.66666667e-01,  6.66666667e-01,  1.15000000e+01],
       [ 5.25000000e+00,  4.25000000e+00,  2.50000000e-01,
         7.50000000e-01,  0.00000000e+00,  4.75000000e+00,
         5.00000000e-01,  2.50000000e-01,  6.87500000e+00],
       [ 3.07142857e+00,  2.14285714e-01,  2.57142857e+00,
         2.85714286e-01, -3.46944695e-18,  2.71428571e+00,
         3.57142857e-01,  5.00000000e-01,  8.42857143e+00]])

In [44]:
# Obtener los índices que ordenan los puntos según su primera columna (coordenada x)
sorted_indices = np.argsort(df.to_numpy()[:, 0])

# Ordenar los puntos y los centroides según los índices
sorted_points = df.to_numpy()[sorted_indices]

plt.scatter(sorted_points[:, 0], sorted_points[:, 1], marker='.')
plt.scatter(k_means_model.cluster_centers_[:, 0], k_means_model.cluster_centers_[:, 1], marker='v', c='r', s=50)
plt.show()

NameError: name 'np' is not defined